body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Animalese;
  src: url(/src/static/fonts/FinkHeavy.woff);
}

main {
  overflow-x: auto;
}

.season1{
  background: url(/src/static/images/season1.png) fixed;
  background-size: 150px;

}

.season2{
  background: url(/src/static/images/season2.png) fixed;
  background-size: 150px;
}

.season3{
  background: url(/src/static/images/season3.png) fixed;
  background-size: 150px;

}

.season4{
  background: url(/src/static/images/season4.png) fixed;
  background-size: 150px;
}

.navbar {
  background: url(/src/static/images/NSwitch_AnimalCrossingNewHorizons_wood_texture.jpg);
  font-family: Animalese;
  color: #FFCF47;
  text-shadow: 0 0 3px rgb(206, 169, 4), 2px 2px 5px rgb(99, 26, 26);
  /* object-fit: cover; */
}

.navbar-toggler {
  background-image: url(/src/static/images/yellowBurger.png);
  border: #FFCF47 solid;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 3px rgb(206, 169, 4), 2px 2px 5px rgb(99, 26, 26);
} 

.navbar-toggler-expand {
  background-color: #FFCF47;
  /* I'm keeping this in in case I want to revert. */
  /* background-color: transparent; */
  background-image: url(/src/static/images/orangeBurger.png);
  border: orange solid;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
  border-radius: 5px;
  width: 60px;
  height: 45px;
}

.nav-link:hover {
  color: orange;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.itemGrid {
  display: grid;
  grid-template-columns: 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px; 
  grid-template-rows: 110px 110px 110px 110px 110px;
  grid-auto-flow: column;
  gap: 10px;
  margin: 15px 0 200px;
}

#creatureGrid {
  grid-template-columns: 110px 110px 110px 110px 110px 110px 110px 110px; 
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  font-size: x-small;
  width: 110px;
  height: 110px;
  border-radius: 20px;
  background-color: #F1EBC7;
  color: rgb(139, 119, 74);
  transition: width 0.1s, height 0.1s, transform 0.1s, background-color 0.3s, color 0.3s, opacity 0.3s, filter 0.3s;
}

.item:hover {
  width: 120px;
  height: 120px;
  transform: translate(-5px, -5px);
}

.critActive {
  /* This currently does nothing, but it used to. It's left in in case I want to revert. */
}

.critInactive {
  background-color: lightgray;
  color: gray;
  opacity: 80%;
  filter: grayscale(100%)
}

.item p {
  margin-bottom: 0px;
}

.item img {
  height: 50px;
}

.selectorsBox {
  left: 50%;
  transform: translate(-50%, -180px);
  position: absolute;
}

.selectors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: #F1EBC7;
  border-radius: 20px;
  width: 500px;
  height: 40px;
  padding-right: 35px;
}

.selectorSplitter {
  color: rgb(88, 23, 23);
}

.selector {
  color: brown;
  cursor: pointer;
}

.selector:hover {
  color: rgb(194, 134, 56);
}

.resultButtonBox {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  background-color: #F1EBC7;
  color: rgb(88, 23, 23);
  border: rgb(88, 23, 23) solid;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -120px);
  position: absolute;
  padding: 13px 20px 3px;
  box-shadow: 2px 2px 5px rgb(73, 60, 60);
  font-family: Animalese;
  cursor: pointer;
}

.resultButtonBox:hover {
  color: #F1EBC7;
  border: #F1EBC7 solid;
  background-color: rgb(88, 23, 23);
}