body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  background: url(/src/static/images/season2.png) fixed;
  background-size: 150px;
  /* background-attachment: fixed; */
  overflow-x: auto;
}

.itemGrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; 
  grid-template-rows: auto auto auto auto auto;
  grid-auto-flow: column;
  margin: 10px;
  /* margin-right: 10px; */
}

#creatureGrid {
  grid-template-columns: auto auto auto auto auto auto auto auto; 
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  font-size: x-small;
  width: 110px;
  height: 110px;
  border-radius: 20px;
  margin: 5px;
}

.critActive {
  background-color: #F1EBC7;
  color: rgb(139, 119, 74);
}

.critInactive {
  background-color: lightgray;
  color: gray;
  opacity: 80%;
}

.inactive img {
  filter: grayscale(100%)
}

.item p {
  margin-bottom: 0px;
}

.item img {
  height: 50px;
}